body {
  width: 250px;
  background-color: #1c1c1c;
  color: white;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.popup-container {
  padding: 10px;
}

button {
  color: #fff;
  width: 100%;
  padding: 8px;
  background-color: transparent;
  border: 1px solid #555;
  transition: background-color 200ms, color 200ms;
  margin-bottom: 10px;
  cursor: pointer;
}

button:hover {
  color: #000;
  background-color: #fff;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

li > p:hover {
  cursor: pointer;
  color: hsl(220, 100%, 50%);
}
